#l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .header-inner {
    @include outer-container;
    padding: 0.5em;
  }

  .header-logo {
    float: left;
    width: 4em;
  }

  .m-menu {
    float: right;
  }

  @include media-ie($breakpoint-ipad) {
    .header-logo {
      width: 7em;
    }
  }
}
