.m-content {
  h1 {
    font-family: $typeface-serif;
    font-size: 1.625em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }

  @include media-ie($breakpoint-ipad) {
    h1 {
      text-align: left;
    }
  }
}
